# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

#comandos para iniciar npm i --location=global @angular/cli
#criar o projeto ng new "nome do projeto"
#iniciar ng generate componet "nome do componente"
#instalar router npm i @angular/router
#inicializar ng serve --open 
#criar um guadian :  ng g guard "nome do guard"
#criar um servico :  ng g service "nome do service"

#para usar o ngModel deve importar o    FormsModule
last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
